<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <img src="https://p0.pikist.com/photos/111/360/tangerine-sweet-juice-orange-fiber-vitamins-black-background-healthy.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" ><strong>ORANGE</strong></h5>
        <a  class="btn btn-primary" (click)="detailsdummy(746771,'Orange')">Nutrirtion Quantity</a>
        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
        </button>
      </div>
    </div>

    <div class="col">
      <img src="https://images.pexels.com/photos/3652898/pexels-photo-3652898.jpeg?cs=srgb&dl=pexels-juan-c-palacios-3652898.jpg&fm=jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" ><strong>APPLE</strong></h5>
        <a  class="btn btn-primary" (click)="detailsdummy(1750340,'Apple')">Nutrirtion Quantity</a>
        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
        </button>
      </div>
    </div>
    

    <div class="col">
      <img src="https://media02.stockfood.com/largepreviews/MTg2NDI5MjIyOQ==/60138459-Tomato-on-black-background.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" ><strong>TOMATO</strong></h5>
        <a  class="btn btn-primary" (click)="detailsdummy(1750354,'Tomato')">Nutrirtion Quantity</a>
        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
        </button>
      </div>
    </div>

    <div class="col">
      <img src="https://thumbs.dreamstime.com/b/red-onion-black-background-group-onion-black-background-183847870.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" ><strong>ONION</strong></h5>
        <a  class="btn btn-primary" (click)="detailsdummy(790577,'Onion')">Nutrirtion Quantity</a>
        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
        </button>
      </div>
    </div>


    <div class="col">
      <img src="https://media.istockphoto.com/photos/almonds-on-black-picture-id1248968724?k=20&m=1248968724&s=612x612&w=0&h=3DnpZFQgmh_zofVPY_uEK1RpQ7Bf-ub1QioSKPvpjpk=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" ><strong>ALMONDS</strong></h5>
        <a  class="btn btn-primary" (click)="detailsdummy(323294,'Almond')">Nutrirtion Quantity</a>
        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
        </button>
      </div>
    </div>

 
    <div class="col">
      <img src="https://thumbs.dreamstime.com/b/slice-brie-french-soft-cheese-black-background-isolated-179826653.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" ><strong>CHEESE</strong></h5>
        <a  class="btn btn-primary" (click)="detailsdummy(328637,'Cheese')">Nutrirtion Quantity</a>
        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
        </button>
      </div>
    </div>

    <img src="https://images.pexels.com/videos/3045163/free-video-3045163.jpg?auto=compress&cs=tinysrgb&w=480&dpr=1">
    